<!DOCTYPE HTML>
<html>
	<head>
	  <title>Artikel anlegen</title>
	</head>
	<body>
		<form action="hinzufuegen" method="post">
			Name: <input type="text" name="artikel"><br>
			Preis: <input type="text" name="preis"><br>
			<button type="submit">Hinzufügen</button>
		</form>
	</body>
</html>