<! DOCTYPE HTML>
<html>
    <head>
        <title>Result</title>
    </head>
    <body>
        Bitrate: <%= bitrate %> <br>
        Dauer: <%= duration %> <br>
        Fehler: Es wurde eine falsche Eingabe getätigt. <br>
        <a href="/"> Neue Rechnung </a>
    </body>
</html>