<!DOCTYPE HTML>
<html>
    <head>
        <title>Multiplikation</title>
    </head>
    <body>
        <table border="1">
            <% for (let i=1; i <= columns; i++) { %>
                <tr>
                    <% for (let j=1; j <= rows; j++) { %>
                        <td><%= i*j %></td>
                    <% } %>
                </tr>
            <% } %>
        </table>
        <a href="/">Neue Tabelle</a>
    </body>
</html>